<main>
    <script type="module" src="/client.js"></script>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="w-50 shadow-lg p-4 rounded" style="background-color: #f9f9f9;">
            <h2 class="text-center mb-4" style="color: #1167b1;">Mi perfil</h2>
            <form method="post" id="editUser" action="/myProfile">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input type="text" placeholder="Nombre" name="name" class="form-control form-control-lg mb-2"
                            value="{{user.name}}" disabled />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Apellidos" name="lastname" class="form-control form-control-lg"
                            value="{{user.lastname}}" disabled />
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Usuario" name="username" class="form-control form-control-lg"
                        value="{{user.username}}" disabled />
                </div>
                <div class="mb-3">
                    <input type="email" placeholder="Correo" name="email" class="form-control form-control-lg"
                        value="{{user.email}}" disabled />
                </div>
                <button type="submit" class="btn btn-primary w-100"
                    style="background-color: #1167b1; border-color: #1167b1;">
                    Actualizar perfil
                </button>
            </form>
            <div style="mt-7">
                <form method="post" id="deleteUser" src="/deleteUser" data-username="{{user.username}}">
                    <button class="btn btn-primary w-100"
                        style="background-color: #1167b1; border-color: #1167b1;  margin-top: 1px;">Eliminar
                        perfil</button>
                </form>
            </div>
        </div>
    </div>
</main>