<main class="d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg" style="border: none; max-width: 900px;">
        <div class="card-header text-white" style="background-color: #03254c;">
            <h3 class="card-title mb-0 text-center"> Reserva tu fecha </h3>
        </div>
        <form method="post" class="reserve" data-id="{{id}}" action="/reserve/{{id}}">

            <!-- Selección de fecha -->
            <div class="form-group mb-3">
                <label for="fecha" class="form-label" style="color: #03254c;">Fecha</label>
                <input type="date" name="date" class="form-control" min="{{hoy}}" value="{{date}}">
            </div>

            <!-- Selección de hora -->
            <div class="form-group mb-3">
                <label for="hour" class="form-label" style="color: #03254c;">Hora de entrada</label>
                <select name="bEntryH" class="form-control">
                    {{#each hours}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Selección de minuto -->
            <div class="form-group mb-3">
                <label for="minute" class="form-label" style="color: #03254c;">Minuto de entrada</label>
                <select name="bEntryM" class="form-control">
                    {{#each minutes}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Selección de hora -->
            <div class="form-group mb-3">
                <label for="hour" class="form-label" style="color: #03254c;">Hora de salida</label>
                <select name="bExitH" class="form-control">
                    {{#each hours}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Selección de minuto -->
            <div class="form-group mb-3">
                <label for="minute" class="form-label" style="color: #03254c;">Minuto de salida</label>
                <select name="bExitM" class="form-control">
                    {{#each minutes}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn text-white w-100" style="background-color: #1167b1;">
                Enviar
            </button>
        </form>
    </div>
    <script type="module" src="/client.js"></script>
</main>