<main>
    <form method="post" class="w-50" id="saveUser">
        <div class="mb-3">
            <input type="text" placeholder="Nombre" name="name" class="form-control" value="{{name}}" />
            <input type="text" placeholder="Apellidos" name="lastname" class="form-control" value="{{lastname}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Usuario" name="username" class="form-control" value="{{username}}" />
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Contrase침a" name="password" class="form-control"
                autocomplete="current-password" value="{{password}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Correo" name="email" class="form-control" value="{{email}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="No. de tarjeta" name="card" class="form-control" value="{{card}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="CVV" name="cvv" class="form-control" value="{{cvv}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Mes de expiraci칩n" name="expM" class="form-control" value="{{expM}}" />
            <input type="text" placeholder="A침o de expiraci칩n" name="expY" class="form-control" value="{{expY}}" />
        </div>
        <div class="mb-3">
            <input type="text" placeholder="Titular de tarjeta" name="cardholder" class="form-control"
                value="{{cardholder}}" />
        </div>
        <button type="submit" class="primary-btn">Guardar</button>
    </form>

    <div class="mb-3"></div>

</main>